body {
    background-image: url(./tarefasimg.jpg);               
}

/*a { 
    margin-left: 1rem;
    text-decoration: none;
}*/

.caixa {              
    background: rgba(224, 221, 221, 0.897);
    height: 500px;
    width: 500px;
    margin: 50px auto;
    color: black;
    border-radius: 5%;
    text-align: center;
    font-size: 20px;
    

}

.campos {                          
    margin: 10px 540px;
}

.check {
    margin-bottom: 10px;            
    cursor: pointer;            
     
    
}

